/* edit-profile.css */
@import url('./common.css');

#edit-profile-text {
    font-family: 'Paperlogy-6SemiBold';
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    color: #000000;
    margin: 140px 0 20px 0; 
}

.profile-photo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: flex-start;  
    width: 50%;
    max-width: 310px;
    position: relative;
}

.profile-photo-container p {
    font-family: 'Paperlogy-6SemiBold';
    font-size: 13px;
    font-weight: 600;
    color: #000000;
}

.profile-photo-container input[type="file"] {
    display: none; 
}

#current-profile-photo {   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px; /* 컨테이너 크기 */
    height: 170px; /* 세로 비율 약간 증가 */
    background-color: #c0c0c0; 
    cursor: pointer;
    margin: 5px 0;  
    align-self: center; 
    object-fit: cover;  
    clip-path: path('M 70 45 Q 100 10 135 50 Q 160 100 70 145 Q -20 100 5 50 Q 40 10 70 45 Z');
}

.profile-photo-preview {
    width: 100%;         
    height: 100%;        
    object-fit: cover;   
}

#change-button {
    padding: 3px 8px;
    background-color: #403c5b;
    color: white;
    font-family: 'Paperlogy-4Regular';
    font-size: 12px;
    font-weight: 900;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 55%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.email-area {
    width: 50%; 
    max-width: 310px;
    display: flex;
    flex-direction: column; 
}

.email-area label {
    font-family: 'Paperlogy-6SemiBold';
    font-size: 13px; 
    margin-top: 3px; 
    margin-bottom: 3px; 
    color: #000000;
}

.email-area p {
    font-family: 'Paperlogy-4Regular';
    font-size: 12px; 
    margin: 13px 0; 
}

.nickname-area {
    width: 50%; 
    max-width: 310px;
    display: flex;
    flex-direction: column; 
}

.nickname-area label {
    font-family: 'Paperlogy-4Regular';
    font-size: 13px; 
    font-weight: 900;
    margin-top: 3px; 
    margin-bottom: 5px; 
    color: #000000;
}

.nickname-area input {
    width: 100%;
    padding: 5px;
    margin: 3px 0;
    border-radius: 8px;
    font-size: 12px;
    border: 1px solid #403c5b;
}

#edit-button {
    font-family: 'Paperlogy-4Regular';
    width: 50%;
    max-width: 310px; 
    padding: 7px;
    background-color: #d396d1; 
    color: #FFFFFF; 
    border: none;
    border-radius: 10px;
    font-size: 12px;
    margin-top: 20px; 
    display: block;
    text-align: center;
    cursor: pointer;
}

#toast {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 180px; 
    height: 130px; 
    background-color: plum;
    color: white;
    text-align: center;
    font-family: 'Paperlogy-4Regular';
    font-size: 16px;
    line-height: 130px; 
    clip-path: path('M 90 20 Q 125 0 150 40 Q 175 80 90 130 Q 5 80 30 40 Q 55 0 90 20 Z');
}

#toast.show {
    display: block;
}

#delete-account-link {
    font-size: 12px;
    text-align: center;
    margin-top: 8px; 
    display: block; 
    color: #000000; 
    text-decoration: none;
    font-family: 'Paperlogy-4Regular';
}

#delete-account:hover {
    text-decoration: underline; 
}

#save-button {
    font-family: 'Paperlogy-4Regular';
    width: 80px;
    padding: 10px;
    background-color: #d396d1; 
    color: #FFFFFF; 
    border: none;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 4%; 
    display: block;
    text-align: center;
    cursor: pointer;
}