/* edit-password.css */
@import url('./common.css');

#edit-password-text {
    font-family: 'Paperlogy-6SemiBold';
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    margin: 170px 0 80px 0; 
}

.input-area {
    width: 50%; 
    max-width: 310px;
    display: flex;
    flex-direction: column; 
}

.input-area label {
    font-family: 'Paperlogy-6SemiBold';
    font-size: 13px; 
    font-weight: 900;
    margin-top: 3px; 
    margin-bottom: 5px; 
    color: #000000;
}

.input-area input {
    width: 100%;
    padding: 6px;
    margin: 3px 0;
    border: 1px solid #403c5b;
    border-radius: 8px;
    font-size: 12px;
    color: #333;
    font-family: 'Paperlogy-4Regular';
}

#edit-button {
    width: 50%;
    max-width: 310px; 
    padding: 8px;
    background-color: #d396d1; 
    color: #FFFFFF; 
    border: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 20px; 
    display: block;
    text-align: center;
    cursor: pointer;
}

#edit-button.active {
    background-color: #9d5b94;
}

#toast {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 180px; 
    height: 130px; 
    background-color: plum;
    color: white;
    text-align: center;
    font-family: 'Paperlogy-4Regular';
    font-size: 16px;
    line-height: 130px; 
    clip-path: path('M 90 20 Q 125 0 150 40 Q 175 80 90 130 Q 5 80 30 40 Q 55 0 90 20 Z');
}

#toast.show {
    display: block;
}