/* edit-profile.css */

@font-face {
    font-family: 'Paperlogy-2ExtraLight';      
    src: url('/assets/fonts/Paperlogy-2ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';      
    src: url('/assets/fonts/PretendardVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F4F5F7;
}

.banner {
    display: flex;
    justify-content: center;  
    align-items: center; 
    position: relative;  
    width: 100%;
    height: 85px;
    border-bottom: 1px solid #000000;
}

#banner-text {
    font-family: 'Sandoll GogoRound', 'Paperlogy-2ExtraLight', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    color: #000000;
    position: relative;  
}

#profile-img {
    position: absolute;  
    right: calc(50% - 250px);  
    cursor: pointer;
    width: 36px;
    height: 36px; 
}

.profile-img {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;  
    right: calc(50% - 250px);  
    bottom: calc(50% - 135px);
    background-color: #ccc;
    list-style: none;
    padding: 0 10px;
}

.dropdown-menu.show {
    display: block; 
}

.dropdown-menu li {
    padding: 8px 15px;
    gap: 10px;
    background-color: #ccc;
    text-align: center;
}

.dropdown-menu a {
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    font-family: 'Pretendard', sans-serif;
    font-size: 14px;
    background-color: #ccc;
}

.dropdown-menu a:hover {
    background-color: #E9E9E9;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 85px); 
}

#edit-profile-text {
    font-family: 'Pretendard', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    color: #000000;
    margin: 0 0 10px 0; 
}

.profile-photo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: flex-start;  
    width: 50%;
    max-width: 310px;
    position: relative;
}

.profile-photo-container p {
    font-family: 'Pretendard', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #000000;
}

.profile-photo-container input[type="file"] {
    display: none; 
}

#current-profile-photo {   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #c0c0c0; 
    cursor: pointer;
    margin: 5px 0;  
    align-self: center; 
    object-fit: cover;   
}

.profile-photo-preview {
    width: 100%;         
    height: 100%;        
    border-radius: 50%;  
    object-fit: cover;   
}

#change-button {
    padding: 3px 8px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Pretendard', sans-serif;
    font-size: 12px;
    font-weight: 900;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 55%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.email-area {
    width: 50%; 
    max-width: 310px;
    display: flex;
    flex-direction: column; 
}

.email-area label {
    font-family: 'Pretendard', sans-serif;
    font-size: 13px; 
    font-weight: 900;
    margin-top: 3px; 
    margin-bottom: 3px; 
    color: #000000;
}

.email-area p {
    font-family: 'Pretendard', sans-serif;
    font-size: 12px; 
    font-weight: 400;
    margin: 13px 0; 
}

.nickname-area {
    width: 50%; 
    max-width: 310px;
    display: flex;
    flex-direction: column; 
}

.nickname-area label {
    font-family: 'Pretendard', sans-serif;
    font-size: 13px; 
    font-weight: 900;
    margin-top: 3px; 
    margin-bottom: 5px; 
    color: #000000;
}

.nickname-area input {
    width: 100%;
    padding: 5px;
    margin: 3px 0;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 12px;
    color: #333;
}

#helper-text {
    display: none;
    color: red;
    font-size: 11px;
    margin-left: 2px;
}

#edit-button {
    width: 50%;
    max-width: 310px; 
    padding: 7px;
    background-color: #ACA0EB; 
    color: #FFFFFF; 
    border: none;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 20px; 
    display: block;
    text-align: center;
    cursor: pointer;
}

#toast {
    display: none; 
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1000;
    width: 80%;
    max-width: 200px;
    background-color: plum;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(133, 183, 229, 0.1);
    padding: 25px;
    color: white;
    text-align: center;
    font-family: 'Pretendard', sans-serif;
    font-size: 18px;
    font-weight: 900;
}

#toast.show {
    display: block;
}

#delete-account-link {
    font-size: 12px;
    text-align: center;
    margin-top: 8px; 
    display: block; 
    color: #000000; 
    text-decoration: none;
}

#delete-account:hover {
    text-decoration: underline; 
}

#save-button {
    width: 80px;
    padding: 10px;
    background-color: #ACA0EB; 
    color: #FFFFFF; 
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 4%; 
    display: block;
    text-align: center;
    cursor: pointer;
}

.overlay {
    display: none; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
}

.overlay.active {
    display: block; 
}

body.no-scroll {
    overflow: hidden; 
}

.modal {
    display: none; 
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1000;
    width: 80%;
    max-width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.overlay.active .modal {
    display: block; 
}

.modal-content {
    background-color: white;
    text-align: center;
    font-family: 'Pretendard', sans-serif;
}

.modal-content h2 {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 15px;
    background-color: white;
}

.modal-content p {
    font-size: 14px;
    margin-bottom: 15px;
    background-color: white;
}

.modal-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: white;
}

#cancel-button {
    padding: 0 30px;
    height: 30px;
    background-color: black; 
    color: white; 
    border: none;
    border-radius: 8px;
    font-size: 13px;
    cursor: pointer;
}

#confirm-button {
    padding: 0 30px;
    height: 30px;
    background-color: #ACA0EB;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    cursor: pointer;
}