/* make-post.css */
@import url('./common.css');

#post-create-text {
    font-family: 'Paperlogy-6SemiBold';
    font-size: 24px;
    line-height: 31.2px;
    text-align: center;
    color: #000000;
    margin: 30px 0; 
}

.post-create-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 570px;
}

.post-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 90%;
    max-width: 570px;
    margin: 3px;
}

.common-label {
    font-family: 'Paperlogy-6SemiBold';
    font-size: 15px;
    margin: 7px 4px;
}


#title {
    font-family: 'Paperlogy-4Regular';
    font-size: 15px;
    width: 100%;
    max-width: 570px;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    border: 2px solid #403c5b;
}

.post-field textarea {
    all: unset;
    border: 1px solid #403c5b;
    font-family: 'Paperlogy-4Regular';
    font-size: 14px;
    width: 100%;
    max-width: 570px;
    height: 299px;
    padding: 15px;
    border-radius: 15px;
}

#helper-text {
    font-size: 12px;
    margin-top: 3px;
}

.post-field input[type="file"] {
    display: none; 
}

.file-container {
    display: flex;
    align-items: center;  
    gap: 10px;  
    margin: 0 5px;
}

#file-button {
    font-family: 'Paperlogy-4Regular';
    padding: 5px;
    background-color: #9a94b8;
    border: 2px solid #af83a5;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
}

#file-name {
    font-family: 'Paperlogy-4Regular';
    font-size: 13px;
}

#submit-button {
    width: 80%;
    max-width: 350px; 
    padding: 9px;
    background-color: #d396d1; 
    color: #FFFFFF; 
    border: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 20px; 
    cursor: pointer;
}

#submit-button.active {
    background-color: #9d5b94;
}