/* post.css */
@import url('./common.css');

#post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 70%;
    max-width: 500px;
}

#title {
    font-family: 'Paperlogy-6SemiBold';
    font-size: 24px;
    line-height: 31.2px;
    align-self: flex-start; 
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.post-meta {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    font-family: 'Paperlogy-6SemiBold';
}

.author-info {
    display: flex;
    align-items: center;
    margin: 0 3px;
}

#author-photo {
    width: 36px;
    height: 36px;
    margin-right: 8px;
    border-radius: 50%; /* 둥글게 만들기 */
    object-fit: cover; /* 이미지 비율 유지 */
    overflow: hidden;
}

#author-name {
    font-size: 15px;
    line-height: 19.5px;
    margin-right: 20px;
}

#post-date {
    font-family: 'Paperlogy-4Regular';
    font-size: 14px;
    line-height: 18.2px;
    margin-right: 5px;
}

#post-time {
    font-family: 'Paperlogy-4Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
}

.post-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#edit-post-button {
    width: 45px;
    height: 25px;
    border-radius: 8px;
    background-color: #d396d1;
    border: 2px solid #af83a5;
}

#delete-post-button {
    width: 45px;
    height: 25px;
    border-radius: 8px;
    background-color: #d396d1;
    border: 2px solid #af83a5;
}

#post-separator {
    width: calc(100% + 50px); 
    margin: 10px -20px;          
    border: none;             
    border-top: 1px solid #ccc; 
}

.post-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 100%; 
}

.post-image img {
    max-width: 500px;
    max-height: 300px;
}

.post-content {
    margin: 10px 0;
    font-family: 'Paperlogy-4Regular';
    font-size: 15px;
    line-height: 21.15px;
}

.post-stats {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.post-stats button {
    font-family: 'Paperlogy-6SemiBold';
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 20px;
    width: 100px;
    font-weight: 800;
    font-size: 15px;
    padding: 10px 5px;
    background-color: #ecedf9;
    border: 1px solid #9a94b8;
}

.post-stats span  {
    font-family: 'Paperlogy-4Regular';
    font-size: 15px;
    margin-bottom: 5px;
    background-color: #ecedf9;
}

#like-button.disabled {
    background-color: #ecedf9;
    color: #000;
}

#like-button.enabled {
    background-color: #d396d1;
    color: #ecedf9;
}

#like-button.enabled span {
    background-color: #d396d1;
}

#comment-separator {
    width: 100%;
    border: none;             
    border-top: 1px solid #9a94b8; 
    margin-bottom: 20px;
}

.comment-section {
    display: flex;
    flex-direction: column;
    background-color: #ecedf9;
    width: 100%;
    max-width: 595px;
    height: auto;
    max-height: 205px;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #9a94b8; 
}

#comment-input {
    all: unset;
    font-family: 'Paperlogy-4Regular';
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-bottom: 50px;
}

.comment-section hr {
    width: calc(100% + 20px);
    margin: 0 -10px;  
    border: none;             
    border-top: 1px dashed #9a94b8; 
}

#submit-comment-button {
    font-family: 'Paperlogy-4Regular';
    align-self: flex-end;  
    width: 50%;
    max-width: 120px; 
    padding: 10px 0;
    background-color: #d396d1; 
    color: #FFFFFF; 
    border: none;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px; 
    display: block;
    text-align: center;
    cursor: pointer;
}

#submit-comment-button.active {
    background-color: #9d5b94;
}

.comment-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.comment-body {
    display: flex; 
    gap: 20px; /* meta-content와 actions 간격 */
}

.comment-meta-content {
    display: flex; 
    flex-direction: column;
    flex: 1; /* 왼쪽 영역 최대 사용 */
}

.comment-meta {
    display: flex;
    align-items: center;
}

.comment-author-photo {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-author-name {
    font-size: 15px;
    margin-right: 20px;
    font-family: 'Paperlogy-6SemiBold';
}

.comment-date {
    font-family: 'Paperlogy-4Regular';
    font-size: 14px;
    line-height: 18.2px;
    margin-right: 5px;
}

.comment-time {
    font-family: 'Paperlogy-4Regular';
    font-size: 14px;
    line-height: 18.2px;
}

.comment-content {
    font-family: 'Paperlogy-4Regular';
    font-size: 15px;
    margin: 10px 45px;
}

.comment-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.edit-comment-button {
    width: 45px;
    height: 25px;
    border-radius: 8px;
    background-color: #d396d1;
    border: 2px solid #af83a5;
}

.delete-comment-button {
    width: 45px;
    height: 25px;
    border-radius: 8px;
    background-color: #d396d1;
    border: 2px solid #af83a5;
}
