/* post.css */

@font-face {
    font-family: 'Paperlogy-2ExtraLight';      
    src: url('/assets/fonts/Paperlogy-2ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';      
    src: url('/assets/fonts/PretendardVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F4F5F7;
}

.banner {
    display: flex;
    justify-content: center;  
    align-items: center; 
    position: relative;  
    width: 100%;
    height: 85px;
    border-bottom: 1px solid #000000;
}

.banner-text {
    font-family: 'Sandoll GogoRound', 'Paperlogy-2ExtraLight', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    color: #000000;
    position: relative;  
}

.back-arrow {
    font-family: sans-serif;
    position: absolute;  
    left: calc(50% - 250px);  
    font-size: 28px; 
    font-weight: 400; 
    color: #000000; 
    cursor: pointer;
}

.profile-img {
    position: absolute;  
    right: calc(50% - 250px);  
    cursor: pointer;
    width: 36px;
    height: 36px; 
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 70%;
    max-width: 500px;
}

.title {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
    align-self: flex-start; 
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.post-meta {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    font-family: 'Pretendard', sans-serif;
}

.author-info {
    display: flex;
    align-items: center;
    margin: 0 3px;
}

.author-photo {
    width: 36px;
    height: 36px;
    margin-right: 8px;
}

.author-name {
    font-weight: 700;
    font-size: 15px;
    line-height: 19.5px;
    margin-right: 20px;
}

.post-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
    margin-right: 5px;
}

.post-time {
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
}

.post-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.edit-post-button {
    width: 45px;
    height: 25px;
    border-radius: 8px;
    background-color: #F4F5F7;
    border: 1px solid rgb(150, 149, 149);  
}

.delete-post-button {
    width: 45px;
    height: 25px;
    border-radius: 8px;
    background-color: #F4F5F7;
    border: 1px solid rgb(150, 149, 149);  
}

.post-separator {
    width: calc(100% + 50px); 
    margin: 10px -20px;          
    border: none;             
    border-top: 1px solid #ccc; 
}

.post-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 100%; 
}

.post-image img {
    max-width: 500px;
    max-height: 300px;
}

.post-content {
    margin: 10px 0;
    font-family: 'Pretendard', sans-serif;
    font-weight: 400px;
    font-size: 15px;
    line-height: 21.15px;
}

.post-stats {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.post-stats button {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 15px;
    width: 100px;
    font-weight: 800;
    font-size: 15px;
    padding: 10px 5px;
    background-color: #d7d5d5;
    border: none;
}

.post-stats span  {
    font-size: 20px;
    margin-bottom: 5px;
    background-color: #d7d5d5;
}

.comment-separator {
    width: 100%;
    border: none;             
    border-top: 1px solid #ccc; 
    margin-bottom: 20px;
}

.comment-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    max-width: 595px;
    height: auto;
    max-height: 205px;
    padding: 5px 10px;
    border-radius: 10px;
}

.comment-input {
    all: unset;
    font-family: 'Pretendard', sans-serif;
    font-weight: 900;
    font-size: 14px;
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-bottom: 50px;
}

.comment-section hr {
    width: calc(100% + 20px);
    margin: 0 -10px;  
    border: none;             
    border-top: 1px solid #ccc; 
}

.submit-comment-button {
    align-self: flex-end;  
    width: 50%;
    max-width: 120px; 
    padding: 10px 0;
    background-color: #ACA0EB; 
    color: #FFFFFF; 
    border: none;
    border-radius: 13px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px; 
    display: block;
    text-align: center;
    cursor: pointer;
}

.comment-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    margin: 20px;
    padding: 0 20px;
}

.comment-body {
    display: flex;
    flex-direction: column;
}

.comment-meta {
    display: flex;
    align-items: center;
    font-family: 'Pretendard', sans-serif;
}

.comment-author-photo {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.comment-author-name {
    font-weight: 900;
    font-size: 15px;
    margin-right: 20px;
}

.comment-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
    margin-right: 5px;
}

.comment-time {
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
}

.comment-content {
    font-family: 'Pretendard', sans-serif;
    font-weight: 100;
    margin: 10px 45px;
}

.comment-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.edit-comment-button {
    width: 45px;
    height: 25px;
    border-radius: 8px;
    background-color: #F4F5F7;
    border: 1px solid rgb(150, 149, 149);  
}

.delete-comment-button {
    width: 45px;
    height: 25px;
    border-radius: 8px;
    background-color: #F4F5F7;
    border: 1px solid rgb(150, 149, 149);  
}

.modal {
    display: none;
    width: 50%;
    height: 100%;
    margin: 10px;
}

.modal-content {
    background-color: white; 
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 300px;
    text-align: center;
    font-family: 'Pretendard', sans-serif;
}

.modal-content h2 {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 15px;
    background-color: white;
}

.modal-content p {
    font-size: 14px;
    margin-bottom: 15px;
    background-color: white;
}

.modal-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: white;
}

.cancel-button {
    padding: 0 30px;
    height: 30px;
    background-color: black; 
    color: white; 
    border: none;
    border-radius: 8px;
    font-size: 13px;
    cursor: pointer;
}

.confirm-button {
    padding: 0 30px;
    height: 30px;
    background-color: #ACA0EB;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    cursor: pointer;
}