/* posts.css */
@import url('./common.css');

.center-container {
    margin-top: 20px;
    font-family: 'Paperlogy-4Regular';
    font-size: 17px;
    line-height: 31.2px
}

.center-container span {
    font-family: 'Paperlogy-6SemiBold';
}

.post-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#create-post-button {
    font-family: 'Paperlogy-6SemiBold';
    align-self: flex-end;  
    width: 80%;
    max-width: 120px; 
    padding: 8px 0;
    background-color: #d396d1; 
    color: #FFFFFF; 
    border: none;
    border-radius: 18px;
    font-size: 14px;
    margin-top: 10px; 
    display: block;
    text-align: center;
    cursor: pointer;
}

.create-post-button:hover {
    background-color: #9d5b94; 
}

#post-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.post {
    background-color: #faf8ff;
    width: 100%;
    max-width: 592px;
    padding: 15px 20px;
    margin: 10px 90px;
    gap: 8px;
    box-shadow: 3px 4px 4px 0px #9a94b8;
    border-radius: 15px;
    box-sizing: border-box;
}

.post-title {
    font-family: 'Paperlogy-6SemiBold';
    background-color: #faf8ff;
    font-size: 24px;
}

.post-meta {
    display: flex;
    justify-content: space-between; 
    font-size: 14px;
    color: #000000;
    margin: 10px 0;
    background-color: #faf8ff;
}

.left-group, .right-group {
    background-color: #faf8ff;
}

.post-meta span {
    font-family: 'Paperlogy-4Regular';
    background-color: #faf8ff;
    margin-right: 5px;
}

.post hr {
    width: calc(100% + 40px); 
    margin: 0 -20px;          
    border: none;             
    border-top: 1px solid #9a94b8; 
}

.author-info {
    display: flex;
    align-items: flex-start;
    gap: 15px; 
    background-color: #faf8ff;
    width: 100%; 
    box-sizing: border-box;
    margin-top: 15px;
}

.author-photo {
    background-color: #faf8ff;
    width: 36px;
    height: 36px;
    border-radius: 50%; /* 둥글게 만들기 */
    object-fit: cover; /* 이미지 비율 유지 */
    overflow: hidden;
}

.author-name {
    font-family: 'Paperlogy-6SemiBold';
    background-color: #faf8ff;
    font-size: 14px;
}
