/* sign-in.css */
@import url('./common.css');

#signup-text {
    font-family: 'Paperlogy-6SemiBold';
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    margin: 110px 0 30px 0; 
}

.profile-photo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: flex-start;  
    width: 50%;
    max-width: 310px;
}

.profile-photo-container p {
    font-family: 'Paperlogy-6SemiBold';
    font-size: 13px;
    color: #000000;
}

.helper-text {
    margin-top: 4px;
}

.profile-photo-container input[type="file"] {
    display: none; 
}

#profile-photo-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 170px;
    background-color: #b3b1bc; 
    cursor: pointer;
    margin: 5px 0;  
    align-self: center;  
    clip-path: path('M 70 45 Q 100 10 135 50 Q 160 100 70 145 Q -20 100 5 50 Q 40 10 70 45 Z');
}

.plus-icon {
    font-family: 'Paperlogy-4Regular';
    font-size: 45px;
    color: #403c5b;
    background-color: #b3b1bc;
}

.profile-photo-preview {
    width: 100%;         
    height: 100%;        
    border-radius: 50%;  
    object-fit: cover;   
}

.input-area {
    width: 50%; 
    max-width: 310px;
    display: flex;
    flex-direction: column; 
}

.input-area label {
    font-family: 'Paperlogy-6SemiBold';
    font-size: 13px; 
    margin-top: 5px; 
    margin-bottom: 7px; 
    color: #000000;
}

.input-area input {
    font-family: 'Paperlogy-4Regular';
    width: 100%;
    padding: 5px;
    border: 1px solid #403c5b;
    border-radius: 8px;
    font-size: 12px;
    color: #333;
}

#signup-button {
    font-family: 'Paperlogy-6SemiBold';
    width: 50%;
    max-width: 310px; 
    padding: 7px;
    background-color: #d396d1; 
    color: #FFFFFF; 
    border: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 20px; 
    display: block;
    text-align: center;
    cursor: pointer;
}

#signup-button.active {
    background-color: #9d5b94; 
}

#login-link {
    font-family: 'Paperlogy-4Regular';
    font-size: 12px;
    text-align: center;
    margin-top: 8px; 
    display: block; 
}

#login-link a {
    color: #000000; 
    text-decoration: none;
}

#login-link a:hover {
    text-decoration: underline; 
}
